<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>History of Weather Requests</title>
</head>

<body>
    <h1>Previous Requests</h1>
    <ul>
        {% for request in previous_requests %}
        <li>
            <p>Time: {{ request.time }}</p>
            <p>City: {{ request.city }}</p>
            <p>Temperature: {{ request.temperature }}°C</p>
            <p>Description: {{ request.description }}</p>
            <p>Pressure: {{ request.pressure }} hPa</p>
            <p>Humidity: {{ request.humidity }}%</p>
            <p>Wind Speed: {{ request.wind_speed }} m/s</p>
        </li>
        {% endfor %}
    </ul>
    <a href="/"><button>Home</button></a>
</body>

</html>